<%- include('header')%>

<div class="row">
    <div class="col-sm-7 col-md-6 col-lg-5">
        <div class="jumbotron-image">
            <img src="https://cdn1.byjus.com/byjusweb/img/classes/banner-image.png" class="img-responsive">
        </div>
    </div>
    <div class="col-sm-5 col-lg-offset-1 col-lg-5 col-md-offset-0">
        <div class="jumbotron-form text-center">
            <div class="jumbotron-form-desc">
                <h1>Tuitions Redefined</h1>                        <p class="text-center">with BYJU'S Classes</p>
                <p class="description">A comprehensive <strong> online tutoring </strong> program by the <br>
                    world's largest ed-tech company</p>
            </div>
            <form role="form" data-hero-form="" name="hero-form" class="hero-form" autocomplete="off">
                <div data-form="">
                    <div class="form-group text-center" data-show-from-fixed-bottom-cta="">
                        <a class="btn b-btn blue-gradient book-free-demo-class-btn" data-text="Book FREE demo class" href="javascript:void(0)" target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&amp;utm_medium=byjusclasses&amp;utm_campaign=byjusclassescta">Book a Free Class</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>