<%- include('header')%>

<div class=" pakhare" style="color;">


    <h1 class="r">the world is in your hand now </h1>
    <h1 class="r">learn what ever you want </h1>
    
</div>

<%- include('footer')%>