


<%- include('header')%>

<div class=" shashank"  >


      <div style="text-align: center;">
        <h1 class="b">Get Tired of Consuming knowled by book </h1>
      <br>
      <h2 class="a">want to learn more in less time</h2>
      <h3 class="a">then you are just one click away to dive in the ocean of knowled</h3>
      <br><br>
      <h1><a href="#explore" class="c" >EXPLORE MORE</a></h1>
      </div>
    
    
      <div style="text-align: center;">
        <button type="button" class="btn btn-warning bt-lg"><a href="/login" style="text-decoration: none; color: azure;">LOGIN</a></button>
        <button type="button" class="btn btn-warning bt-lg "><a href="/signup" style="text-decoration: none; color: azure;">SIGNup</a></button>
        
      </div>
    

  </div>


<div>
  <h1 style="font-size: 30px; text-align: center; margin-top: 2%;font-weight: bolder;">Why Choose SSYH'S Classes ?</h1>
</div>

<div class="22 container text-center" style="margin-top: 5%;">
  <div class="row cards">
    <div class="cards-section col-sm-12 col-md-4 col-lg-3 text-center" style="margin-top: 2%;">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/classes-icon.svg" alt="Study from India's Top" width="80" height="80" class="icon">
        <p><strong>Study from India's top <br>teachers for conceptual<br>understanding</strong></p>
    </div>

    <div class="cards-section col-sm-12 col-md-4 col-lg-3 text-center" style="margin-top: 2%;">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/self-paced-learning.svg" alt="Self-paced learning" width="80" height="80" class="icon">
        <p><strong>Self-paced learning<br>and revision on<br>BYJU'S App</strong></p>
    </div>

    <div class="cards-section col-sm-12 col-md-4 col-lg-3 text-center" style="margin-top: 2%;">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/weekday-icon.svg" alt="Classes as per" width="80" height="80" class="icon">
        <p><strong>Classes as per<br>time table to ensure<br>regular study</strong></p>
    </div>

    <div class="cards-section col-sm-12 col-md-4 col-lg-3 text-center"style="margin-top: 2%;">
        <img src="https://cdn1.byjus.com/byjusweb/img/classes/doubts-icon.svg" alt="Get doubts" width="80" height="80" class="icon">
        <p><strong>Get doubts <br>cleared instantly</strong></p>
    </div>

    
</div>
</div>

<div class="33 " style="margin-top: 5%;background-color: #fed8b1; overflow: hidden;">
<section class="section bg purple-bg feature-section" id="classes-features-section">
  <div class="container container-lg">
      <div class="row row-verticle-middle">
          <div id="interactive-online-home-tuitions" class="col-sm-12 col-md-6 col-lg-6"><img src="/images/bbbb_preview_rev_1.png" class="img-responsive" width="582" height="586" alt="Learn from top teachers"></div>
          <div class="col-sm-6 col-md-6 col-lg-6 text-centers" style="padding: 7%;">
              <h3 class="section-sub-title" style="text-align: center;">Interactive online classes by <br> India's top teachers </h3>
              <ul class="c-list">
                  <li>
                      <img src="https://cdn1.byjus.com/byjusweb/img/classes/batches.svg" alt="Weekday and weekend batches" width="30" height="30" class="img-responsive icon">
                      <h4 class="pointer-block-list-title"> Classes as per time-table </h4>
                      Weekday and weekend batches to <br> choose from
                  </li>
                  <li>
                      <img src="https://cdn1.byjus.com/byjusweb/img/classes/doubt-resolution.svg" alt="Instant doubt resolution" width="30" height="30" class="img-responsive icon">
                      <h4 class="pointer-block-list-title"> Instant doubt resolution </h4>
                      Get doubts solved immediately during <br> and after the class
                  </li>
                  <li>
                      <img src="https://cdn1.byjus.com/byjusweb/img/classes/extra-classes.svg" alt="Personalised extra classes" width="30" height="30" class="img-responsive icon">
                      <h4 class="pointer-block-list-title"> Personalised extra classes </h4>
                      Improve understanding of weak concepts <br> with additional support
                  </li>
                  <li>
                      <img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-tests.svg" alt="Monthly tests" width="30" height="28" class="img-responsive icon">
                      <h4 class="pointer-block-list-title"> Monthly tests </h4>
                      Get assessed regularly to perform <br> better
                  </li>
              </ul>
              <a class="btn b-btn blue-gradient book-free-demo-class-btn" href="javascript:void(0)" target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&amp;utm_medium=byjusclasses&amp;utm_campaign=byjusclassescta">Book a Free Class</a>
          </div>
      </div>
  </div>
</section>
</div>

<div class="container-lg" style="margin-top: 5%;">
<div class="row row-verticle-middle">
   <div class="col-sm-6 col-sm-pull-6" style="padding:7%">
      <h3 class="section-sub-title">Dedicated mentors to guide <br> students</h3>
      <ul class="c-list">
          <li>
              <img src="https://cdn1.byjus.com/byjusweb/img/classes/guidance.svg" alt="Monthly tests" width="30" height="30" class="img-responsive icon">
              <h4 class="pointer-block-list-title"> One-on-one guidance </h4>
              A dedicated BYJU'S mentor will give <br> constant support to students
          </li>
          <li>
              <img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-progress.svg" alt="Monthly tests" width="30" height="30" class="img-responsive icon">
              <h4 class="pointer-block-list-title"> Comprehensive monthly progress <br> report </h4>
              Receive a detailed analysis of student's <br> academic performance
          </li>
          <li>
              <img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-pta.svg" alt="Monthly tests" width="30" height="26" class="img-responsive icon">
              <h4 class="pointer-block-list-title"> Monthly PTA Meetings </h4>
              Parents get updates on their child's <br> performance during monthly meetings
          </li>
      </ul>
      <a class="btn b-btn orange-gradient book-free-demo-class-btn" href="javascript:void(0)" target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&amp;utm_medium=byjusclasses&amp;utm_campaign=byjusclassescta">Book a Free Class</a>
  </div>
  <div class="col-sm-6 col-sm-push-6 col-lg-push-7"><img src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-guidance-from-mentors.png" class="img-responsive" width="582" height="586" alt="Interactive online home tuitions"></div>
 

</div>
</div>

<div class="55" style="background-color: #F9E49D">
  <section class="section">
    <div class="container container-lg">
        <div class="row row-verticle-middle">
            <div class="col-sm-6 col-sm-push-6 col-lg-push-7" style="padding: 1%;"><img src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-extra-classes.png" class="img-responsive" width="582" height="586" alt="Interactive online home tuitions"></div>
            <div class="col-sm-6 col-sm-pull-6" style="padding: 5%;">
                <h3 class="section-sub-title">Personalised extra classes for <br> complete learning</h3>
                <ul class="c-list">
                    <li>
                        <img src="https://cdn1.byjus.com/byjusweb/img/classes/student-requirement.svg" alt="Monthly tests" width="30" height="30" class="img-responsive icon">
                        <h4 class="pointer-block-list-title"> Classes as per a student's requirement </h4>
                        Choose and attend extra classes to make <br> up for any missed lessons
                    </li>
                    <li>
                        <img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-progress.svg" alt="Monthly tests" width="30" height="30" class="img-responsive icon">
                        <h4 class="pointer-block-list-title"> Work on topics that need extra attention </h4>
                        Strengthen concepts with improvement classes
                    </li>
                    <li>
                        <img src="https://cdn1.byjus.com/byjusweb/img/classes/upcoming-exam.svg" alt="Monthly tests" width="30" height="30" class="img-responsive icon">
                        <h4 class="pointer-block-list-title"> Prepare for upcoming exams </h4>
                        Schedule an extra class to learn for an <br> upcoming exams
                    </li>
                    <li>
                        <img src="https://cdn1.byjus.com/byjusweb/img/classes/revise-topic.svg" alt="Monthly tests" width="30" height="21" class="img-responsive icon">
                        <h4 class="pointer-block-list-title"> Revisit a topic </h4>
                        Use the extra class feature to revisit <br> and revise topics as per need
                    </li>
                </ul>
                <a class="btn b-btn blue-gradient book-free-demo-class-btn" href="javascript:void(0)" target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&amp;utm_medium=byjusclasses&amp;utm_campaign=byjusclassescta">Book a Free Class</a>
            </div>
        </div>
    </div>
</section>
</div>

<div class="66">
  <section class="section bg purple-bg">
    <div class="container container-lg">
        <h2 class="section-title">Student's learning journey with BYJU’S Classes </h2>
        <div class="learning-journey hidden-xs"><img src="https://cdn1.byjus.com/byjusweb/img/classes/student-learning-journey.png" class="img-responsive" width="1200" height="649.4" alt="student-learning-journey">
        </div>
       
    </div>
</section>
</div>

<div class="feedback" style="margin-top: 5%; text-align: center ; background-color: rgb(247, 247, 192);">
  <h1 style="font-weight: bolder; size: 20px;">Student Love And Teacher Satisfaction</h1>

  <div  id="demo" onclick="myFunction()" style="margin-top:;">
    <video class="v1" src="/assets/videos/Parents Feedback-E-Learning.mp4" type=video/mp4  class="vids"  controls >
     
      </video>
    <video class="v1" src="/assets/videos/Student Feedback for Online Classes.mp4" type=video/mp4  class="vids"  controls>
     
      </video>
    <video class="v1" src="https://www.youtube.com/watch?v=vuEuNjG4ttM" type=video/mp4  class="vids"  controls>
     
      </video>
  </div>
  
</div>





  <%- include('footer')%>
  
