
<%- include('header')%>

<div class=" shashank" >
   
  <div style="text-align: center;">
    <h1 class="b">Get Tired of Consuming knowled by book </h1>
  <br>
  <h2 class="a">want to learn more in less time</h2>
  <h3 class="a">then you are just one click away to dive in the ocean of knowled</h3>
  <br><br>
  <h1><a href="#explore" class="c" >EXPLORE MORE</a></h1>
  </div>

  <div style=" z-index: 4;">
    <button type="button" class="btn btn-warning bt-lg"><a href="/login" style="text-decoration: none; color: azure;">LOGIN</a></button>
    <button type="button" class="btn btn-warning bt-lg "><a href="/signup" style="text-decoration: none; color: azure;">SIGNup</a></button>
    
  </div>

    
   
    <div class="pattern"></div>

</div>

  <div class="container" id="explore">
    <div class="row sh">
      <div class="col-sm-6  im">
        <img src="/assets/images/image1.jfif" alt="">
      </div>
      <div class="col-sm-6  ">
        <h1>thousand of courses to access</h1>
        <p>A massive open online course is an online course aimed at unlimited participation and open access via the web. In addition to traditional course materials, such as filmed lectures, readings, and problem sets, many MOOCs provide interactive courses with user forums or social media discussions to support community interactions among students, professors, and teaching assistants (TAs), as well as immediate feedback to quick quizzes and assignments. MOOCs are a widely researched development in distance education, first introduced in 2008,that emerged as a popular mode of learning in 2012.</p>
     
     
     
      </div>
  
       
    </div>
  
    <div class="row sh">
     
      <div class="col-sm-6 im ">
        <img src="/assets/images/image2.jpg" alt="" class="asd">
      </div>

      <div class="col-sm-6  ">
        <h1>thousand of courses to access</h1>
        <p>A massive open online course is an online course aimed at unlimited participation and open access via the web. In addition to traditional course materials, such as filmed lectures, readings, and problem sets, many MOOCs provide interactive courses with user forums or social media discussions to support community interactions among students, professors, and teaching assistants (TAs), as well as immediate feedback to quick quizzes and assignments. MOOCs are a widely researched development in distance education, first introduced in 2008,that emerged as a popular mode of learning in 2012.</p>
     
     
     
      </div>
  
      
       
    </div>

    <div class="row sh" >
     
      <div class="col-sm-6  im">
        <img src="/assets/images/8-examples-of-video-based-learning-for-corporate-training.jpeg" alt="" class="asd">
      </div>

      <div class="col-sm-6 ">
        <h1>thousand of courses to access</h1>
        <p>A massive open online course is an online course aimed at unlimited participation and open access via the web. In addition to traditional course materials, such as filmed lectures, readings, and problem sets, many MOOCs provide interactive courses with user forums or social media discussions to support community interactions among students, professors, and teaching assistants (TAs), as well as immediate feedback to quick quizzes and assignments. MOOCs are a widely researched development in distance education, first introduced in 2008,that emerged as a popular mode of learning in 2012.</p>
     
     
     
      </div>
  
      
       
    </div>

    <div class="row sh">

      <div class="col-sm-6  im">
        <img src="/assets/images/image2.jpg" alt="" class="asd" >
      </div>
     
      <div class="col-sm-6 ">
        <h1>thousand of courses to access</h1>
        <p>A massive open online course is an online course aimed at unlimited participation and open access via the web. In addition to traditional course materials, such as filmed lectures, readings, and problem sets, many MOOCs provide interactive courses with user forums or social media discussions to support community interactions among students, professors, and teaching assistants (TAs), as well as immediate feedback to quick quizzes and assignments. MOOCs are a widely researched development in distance education, first introduced in 2008,that emerged as a popular mode of learning in 2012.</p>
    
      </div>
  
      
       
    </div>

    <div class="row sh" >
     
      <div class="col-sm-6 im" >


        <img src="/assets/images/image3.jpg" alt="" class="asd">
      </div>

      <div class="col-sm-6  ">
        <h1>thousand of courses to access</h1>
        <p>A massive open online course is an online course aimed at unlimited participation and open access via the web. In addition to traditional course materials, such as filmed lectures, readings, and problem sets, many MOOCs provide interactive courses with user forums or social media discussions to support community interactions among students, professors, and teaching assistants (TAs), as well as immediate feedback to quick quizzes and assignments. MOOCs are a widely researched development in distance education, first introduced in 2008,that emerged as a popular mode of learning in 2012.</p>
     
      </div>
      
      

    
       
    </div>

    
  
  </div>


  <%- include('footer')%>


  