<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<base href="https://byjus.com/" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow">
	<title>BYJU'S Classes : Online Classes, Learning App &amp; Personalised Mentoring</title>
	<meta name="description"
		content="BYJU'S classes is a combination of online classes from India's best teachers, 24/7 video lessons in the app and personalised guidance from mentors. Learn concepts from the app, clear your doubts instantly, get personalised attention from a dedicated mentor and more. Enquire Now!" />
	<!-- Open Graph Tags -->
	<meta property="og:title" content="BYJU'S Classes : Online Classes, Learning App &amp; Personalised Mentoring" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://byjus.com/byjus-classes/" />
	<meta property="og:image" content="https://cdn1.byjus.com/images/fb-share-button-k10-k12.png" />
	<meta property="og:description"
		content="BYJU'S classes is a combination of online classes from India's best teachers, 24/7 video lessons in the app and personalised guidance from mentors. Learn concepts from the app, clear your doubts instantly, get personalised attention from a dedicated mentor and more. Enquire Now!" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:site_name" content="BYJUS" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="600" />
	<!-- End Graph Tags -->
	<!-- Google Tag Manager -->
	<script>
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KKMR3FH');
	</script>
	<!-- End Google Tag Manager -->
	<!-- CrazyEgg Script -->
	<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0098/9453.js" async="async"></script>
	<!-- End CrazyEgg Script -->
	<link rel='dns-prefetch' href='//s.w.org' />
	<link rel="canonical" href="https://byjus.com/byjus-classes/" />

	<script type="application/ld+json">
		{
            "@context": "https://schema.org",
            "@type": "Article",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://byjus.com/byjus-classes/"
            },
            "datePublished": "2020-06-30 18:53:44",
            "dateModified": "2020-08-04 10:59:35",
            "description": "BYJU'S classes is a combination of online classes from India's best teachers, 24/7 video lessons in the app and personalised guidance from mentors. Learn concepts from the app, clear your doubts instantly, get personalised attention from a dedicated mentor and more. Enquire Now!&quot;/&gt;",
            "headline": "byjus-classes",
            "image":["https://byjus.com/byjus-classes/"],
            "author": {
                "@type": "Person",
                "name": "Admin"
            },
            "publisher": {
                "@type": "Organization",
                "name": "BYJU'S",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://cdn1.byjus.com/cbse/2017/09/15151739/BYJUS-LOGO-Purple-3kb.png"
                }
            }
        }
	</script>
	<link href="https://cdn1.byjus.com/byjusweb/img/favicon-32x32.png" rel="shortcut icon">
	<link rel="icon" href="https://cdn1.byjus.com/byjusweb/img/favicon-32x32.png" sizes="192x192">
	<link href="https://cdn1.byjus.com/byjusweb/img/favicon-32x32.png" rel="apple-touch-icon-precomposed">
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	</noscript>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


	<link href="https://cdn1.byjus.com/byjusweb/css/custom-bootstrap.css" rel="stylesheet" type="text/css">

	<link href="https://cdn1.byjus.com/byjusweb/css/utilities.min.css" rel="stylesheet" type="text/css">
	<link href="https://byjus.com/wp-content/themes/html5blank-stable/styles/classes/home.css" rel="stylesheet"
		type="text/css">
	<link href="https://byjus.com/wp-content/themes/html5blank-stable/styles/classes/classes_header.css"
		rel="stylesheet" type="text/css">
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-66208001-1', 'auto');
			 ga('require', 'GTM-TF6NDC2'); 			ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
	<!-- Global site tag (gtag.js) - Google Ads: 936838098 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-936838098"></script>
	<script>
		window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-936838098');
	</script>
	<!-- End Global site tag (gtag.js) - Google Ads: 936838098 -->
	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','//connect.facebook.net/en_US/fbevents.js');

			fbq('init', '506170199519639');
			fbq('track', "PageView");
	</script>
	<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=506170199519639&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->







		<script type="text/javascript">
			var GA_FLAG = parseInt("1");
			var CDN =  "https://cdn1.byjus.com/";
			var C_URL = window.location.href;
			var BASE_URL = "https://byjus.com/";
			var INSTANCE_NAME = "";
			var FORM_NAME = "";
			var TEMPLATE_DIRECTORY_URI = ('http://byjus.com/wp-content/themes/html5blank-stable/').replace('http://','https://');
			var CONTENT_DOWNLOAD_PDF_URL = 'https://students.byjus.com/oauth/authorize?redirect_uri=https%3A%2F%2Fbyjus.com%2Fdownloadcallback&client_id=1f267a0cb39bfe566e0218659508cb1949be4bdea023351a989a1b80b7d0c460&response_type=token&scope=profile+manage_doubts&referrer=mx_Source_of_Lead%3DByjusWeb%26mx_Campaign_Type%3D_UTM_CAMPAIGN_TYPE_%26SourceMedium%3DdownloadPDF%26mx_Page_Category%3DbyjusHome%26Website%3Dhttps%253A%252F%252Fbyjus.com%252Fbyjus-classes%252F%26SourceIPAddress%3D%26SourceReferrerURL%3Dhttps%253A%252F%252Fbyjus.com%252Fbyjus-classes-book-a-free-60-minutes-class%252Fregistration%252F%253Futm_source%253Dwebsite%2526utm_medium%253Dbyjusclasses%2526utm_campaign%253Dbyjusclassescta%26mx_ad_Id%3D_UTM_AD_ID_%26mx_adset_id%3D_UTM_ADSET_ID_%26mx_pid%3D_UTM_PID_%26mx_site_id%3D_UTM_SITE_ID_%26SourceCampaign%3D_UTM_CAMPAIGN_%26mx_Source_Campaign_Id%3D_UTM_CAMPAIGN_ID_%26mx_utm_Term%3D_UTM_TERM_%26SourceContent%3D_UTM_CONTENT_&utm_campaign=_UTM_CAMPAIGN_OR_INSTANCE_&utm_source=ByjusWeb&utm_medium=downloadPDF';
			var COMMON_UTILS_ENDPOINT_KEY = "https://utils.byjusweb.com/";
			var CTP_API_BASE_URL = "https://ctp.byjusweb.com/";
			var UPSC_BNAT_API_BASE_URL = "https://upsc-bnat.byjusweb.com/";
			var BCAP_API_BASE_URL = 'https://bcap.byjusweb.com/';
			var BCAS_API_BASE_URL = 'https://bcas-prod.byjusweb.com/';
			var TIME_STAMP_FORMAT = 'yyyy-mm-dd hh:mm:ss-UTC';
			var APP_PLAYSTORE_DESKTOP_LINK = 'https://play.google.com/store/apps/details?id=com.byjus.thelearningapp';
			var APP_PLAYSTORE_MOBILE_LINK = 'https://app.byjus.com/webhomepage';
			var APP_APPLESTORE_DESKTOP_LINK = 'https://apps.apple.com/in/app/byjus-the-learning-app/id1015059076';
			var YOUTUBE_VIDEOS_VIEW_COUNT  = JSON.parse('[]');
			if (typeof Storage !== "undefined") { (C_URL.indexOf('/downloadcallback') === -1) && localStorage.setItem("currentURL", C_URL); } // setting url in localStorage and Not setting current url for downloadcallback page because to get redirect to byjus page from downloadcallback page
			var FORUM_API_URL = 'https://forum-api.byjusweb.com/';
			var CLEVER_TAP_URL = 'https://d2r1yp2w7bby2u.cloudfront.net/js/a.js';
			var CLEVER_TAP_FLAG = '1' === '1';
		</script>

		<!-- Google Recaptcha V2 -->

</head>

<body
	class="page-template page-template-classes page-template-home page-template-classeshome-php page page-id-1336885 slug-byjus-classes">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKMR3FH" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<script>
		var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement);
        document.body.className += " font-loaded";
        addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
	</script>

	<!--
		Start of Floodlight Tag: Please do not remove
		Activity name of this tag: Website Visitors
		URL of the webpage where the tag is expected to be placed: http://google.com
		This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
		Creation Date: 01/18/2019
		-->
	<script type="text/javascript">
		var axel = Math.random() + "";
		var a = axel * 10000000000000;
		document.write('<iframe src="https://6478929.fls.doubleclick.net/activityi;src=6478929;type=invmedia;cat=l26wo2rj;u1=[u1];u2=[u2];u3=[u3];u4=[u4];u5=[u5];u6=[u6];u7=[u7];u8=[u8];u9=[u9];u10=[u10];u11=[u11];u12=[u12];u13=[u13];u14=[u14];u15=[u15];u16=[u16];u17=[u17];u18=[u18];u19=[u19];u20=[u20];u21=[u21];u22=[u22];u23=[u23];u24=[event name];u25=[event value];u26=[u26];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
	</script>
	<noscript>
		<iframe
			src="https://6478929.fls.doubleclick.net/activityi;src=6478929;type=invmedia;cat=l26wo2rj;u1=[u1];u2=[u2];u3=[u3];u4=[u4];u5=[u5];u6=[u6];u7=[u7];u8=[u8];u9=[u9];u10=[u10];u11=[u11];u12=[u12];u13=[u13];u14=[u14];u15=[u15];u16=[u16];u17=[u17];u18=[u18];u19=[u19];u20=[u20];u21=[u21];u22=[u22];u23=[u23];u24=[event name];u25=[event value];u26=[u26];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?"
			width="1" height="1" frameborder="0" style="display:none"></iframe>
	</noscript>
	<!-- End of Floodlight Tag: Please do not remove -->


	<div class="top-nav-header" data-header>
		<nav class="navbar navbar-bjn classes-reg" data-header>
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#layout-menu-scrollspy" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a class="navbar-brand" href="javascript:void(0)" id="classes-nav-logo"><img
                    src="https://cdn1.byjus.com/byjusweb/img/classes/classes-nav-brand.png" /></a>
				</div>
				<div class="collapse navbar-collapse" id="layout-menu-scrollspy">
					<ul class="nav navbar-nav">
						<li>
							<a href="javascript:void(0)" class="scrollLink" target-id="classes-features-section"
								data-scrollspy>Features</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="scrollLink" target-id="testimonals-section"
								data-scrollspy>Testimonials</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="scrollLink" target-id="faq-classes-section"
								data-scrollspy>FAQs</a>
						</li>
						<li>
							<a href="javascript:void(0)" target-id="byjus-adv-section" data-scrollspy>BYJU'S
								advantage</a>
						</li>
						<li class="nav-link-btn">
							<a class="btn b-btn blue-gradient" href="javascript:void(0)">Book a Free Class</a>
						</li>
					</ul>
				</div>
				<a class="btn b-btn blue-gradient classes-nav-btn" id="book-free-demo-btn"
					href="javascript:void(0)">Book a Free Class</a>
			</div><!-- /.container-fluid -->
		</nav>
	</div>

	<section class="jumbotron-section" data-jumbotron-section>
		<div class="container">
			<div class="row">
				<div class="col-sm-7 col-md-6 col-lg-5">
					<div class="jumbotron-image">
						<img src="https://cdn1.byjus.com/byjusweb/img/classes/banner-image.png" class="img-responsive" />
                </div>
					</div>
					<div class="col-sm-5 col-lg-offset-1 col-lg-5 col-md-offset-0">
						<div class="jumbotron-form text-center">
							<div class="jumbotron-form-desc">
								<h1>Tuitions Redefined</h1>
								<p class="text-center">with BYJU'S Classes</p>
								<p class=description>A comprehensive <strong> online tutoring </strong> program by the
									<br />
                            world's largest ed-tech company</p>
							</div>
							<form role="form" data-hero-form name="hero-form" class="hero-form" autocomplete="off">
								<div data-form>
									<div class="form-group text-center" data-show-from-fixed-bottom-cta>
										<a class="btn b-btn blue-gradient book-free-demo-class-btn"
											data-text="Book FREE demo class" href="javascript:void(0)"
											target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&utm_medium=byjusclasses&utm_campaign=byjusclassescta">Book
											a Free Class</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section class="section text-center">
		<div class="container container-lg">
			<h2 class="section-title">Why choose BYJU'S Classes?</h2>
			<div class="row cards">
				<div class="cards-section">
					<img src="https://cdn1.byjus.com/byjusweb/img/classes/classes-icon.svg" alt="Study from India's Top" width="80" height="80"
                    class="lazy icon">
					<p><strong>Study from India's top <br />teachers for conceptual<br />understanding</strong></p>
				</div>

				<div class="cards-section">
					<img src="https://cdn1.byjus.com/byjusweb/img/classes/self-paced-learning.svg" alt="Self-paced learning" width="80" height="80"
                    class="lazy icon">
					<p><strong>Self-paced learning<br />and revision on<br />BYJU'S App</strong></p>
				</div>

				<div class="cards-section">
					<img src="https://cdn1.byjus.com/byjusweb/img/classes/weekday-icon.svg" alt="Classes as per" width="80" height="80"
                    class="lazy icon">
					<p><strong>Classes as per<br />time table to ensure<br />regular study</strong></p>
				</div>

				<div class="cards-section">
					<img src="https://cdn1.byjus.com/byjusweb/img/classes/doubts-icon.svg" alt="Get doubts" width="80" height="80" class="lazy icon">
					<p><strong>Get doubts <br />cleared instantly</strong></p>
				</div>

				<div class="cards-section">
					<img src="https://cdn1.byjus.com/byjusweb/img/classes/guidance-icon.svg" alt="One-on-one" width="80" height="80" class="lazy icon">
					<p><strong>One-on-one <br />mentor guidance</strong></p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>

	<section class="section bg purple-bg feature-section" id="classes-features-section">
		<div class="container container-lg">
			<div class="row row-verticle-middle">
				<div id="interactive-online-home-tuitions" class="col-sm-6"><img
                    src="https://cdn1.byjus.com/byjusweb/img/classes/interactive-online-home-tuitions.png" class="img-responsive" width="582"
                    height="586" alt="Learn from top teachers"></div>
					<div class="col-sm-6">
						<h3 class="section-sub-title">Interactive online classes by </br> India's top teachers </h3>
						<ul class="c-list">
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/batches.svg" alt="Weekday and weekend batches" width="30" height="30"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Classes as per time-table </h4>
								Weekday and weekend batches to </br> choose from
							</li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/doubt-resolution.svg" alt="Instant doubt resolution" width="30"
                            height="30" class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Instant doubt resolution </h4>
								Get doubts solved immediately during </br> and after the class
							</li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/extra-classes.svg" alt="Personalised extra classes" width="30"
                            height="30" class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Personalised extra classes </h4>
								Improve understanding of weak concepts </br> with additional support
							</li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-tests.svg" alt="Monthly tests" width="30" height="28"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Monthly tests </h4>
								Get assessed regularly to perform </br> better
							</li>
						</ul>
						<a class="btn b-btn blue-gradient book-free-demo-class-btn" href="javascript:void(0)"
							target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&utm_medium=byjusclasses&utm_campaign=byjusclassescta">Book
							a Free Class</a>
					</div>
				</div>
			</div>
	</section>

	<section class="section">
		<div class="container container-lg">
			<div class="row row-verticle-middle">
				<div class="col-sm-6 col-sm-push-6 col-lg-push-7"><img
                    src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-guidance-from-mentors.png" class="img-responsive" width="582"
                    height="586" alt="Interactive online home tuitions"></div>
					<div class="col-sm-6 col-sm-pull-6">
						<h3 class="section-sub-title">Dedicated mentors to guide </br> students</h3>
						<ul class="c-list">
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/guidance.svg" alt="Monthly tests" width="30" height="30"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> One-on-one guidance </h4>
								A dedicated BYJU'S mentor will give <br /> constant support to students
                    </li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-progress.svg" alt="Monthly tests" width="30" height="30"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Comprehensive monthly progress </br> report </h4>
								Receive a detailed analysis of student's <br /> academic performance
                    </li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-pta.svg" alt="Monthly tests" width="30" height="26"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Monthly PTA Meetings </h4>
								Parents get updates on their child's <br /> performance during monthly meetings
                    </li>
						</ul>
						<a class="btn b-btn orange-gradient book-free-demo-class-btn" href="javascript:void(0)"
							target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&utm_medium=byjusclasses&utm_campaign=byjusclassescta">Book
							a Free Class</a>
					</div>
				</div>
			</div>
	</section>

	<section class="section bg skyblue-bg">
		<div class="container container-lg">
			<div class="row">
				<div class="col-md-12 hidden-xs">
					<h3 class="section-sub-title text-center">Innovation and interactivity of BYJU'S app</h3>
				</div>
			</div>
			<div class="row row-verticle-middle hidden-xs">
				<div class="col-sm-6 col-sm-offset-1">
					<img src="https://cdn1.byjus.com/byjusweb/img/classes/app-innovation-and-interactivity.png" class="img-responsive innovation-img"
                    data-innovation-img width="650" height="788" alt="Interactive online home tuitions">
            </div>
					<div class="col-sm-6 col-lg-offset-1">
						<ul class="c-list" data-interactive-activity>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/video-lessons.svg" alt="Monthly tests" width="31" height="25"
                            class="lazy img-responsive icon">
								<h4 class="pointer-list-title active"> 24/7 video lessons on the app </h4>
								<p class="li-caption active"> Learn from engaging & interactive video
									<br /> lessons on app </p>
							</li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-learning.svg" alt="Monthly tests" width="30" height="30"
                            class="lazy img-responsive icon">
								<h4 class="pointer-list-title"> Personalised learning journeys </h4>
								<p class="li-caption"> Every student will have their unique learning </br> journey as
									per their
									needs and pace </p>
							</li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/unlimited-practice.svg" alt="Monthly tests" width="30" height="31"
                            class="lazy img-responsive icon">
								<h4 class="pointer-list-title"> Unlimited practice and revision </h4>
								<p class="li-caption"> Revisit topics multiple times and practice with </br> unlimited
									quizzes
									and tests on the app </p>
							</li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/individual-knowledge.svg" alt="Monthly tests" width="30" height="31"
                            class="lazy img-responsive icon">
								<h4 class="pointer-list-title"> Individual knowledge graph </h4>
								<p class="li-caption"> Helps students identify their strengths and areas for improvement
								</p>
							</li>
						</ul>
						<a class="btn b-btn orange-gradient book-free-demo-class-btn" href="javascript:void(0)"
							target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&utm_medium=byjusclasses&utm_campaign=byjusclassescta">Book
							a Free Class</a>
					</div>
				</div>

				<div id="innovation-section-carousel" class="innovation-section-carousel carousel slide visible-xs"
					data-ride="carousel">

					<!-- Wrapper for slides -->
					<h3 class="section-sub-title text-center">Innovation and interactivity of </br> BYJU'S app </h3>
					<div class="carousel-inner">
						<div class="item active">
							<div class="innovation-section-card">
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/app-innovation-and-interactivity.png" class="img-responsive"
                            width="450" height="700" alt="Interactive online home tuitions"></div>
								<ul class="c-list">
									<li>
										<img src="https://cdn1.byjus.com/byjusweb/img/classes/video-lessons.svg" alt="Monthly tests" width="31" height="25"
                                class="lazy img-responsive icon">
										<h4 class="pointer-block-list-title"> 24/7 video lessons on the app </h4>
										Learn from engaging & interactive video <br /> lessons on app
                        </li>
								</ul>
							</div>

							<div class="item">
								<div class="innovation-section-card">
									<img src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-learning-journey.png" class="img-responsive" width="450"
                            height="300" alt="Interactive online home tuitions"></div>
									<ul class="c-list">
										<li>
											<img src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-learning.svg" alt="Monthly tests" width="30"
                                height="30" class="lazy img-responsive icon">
											<h4 class="pointer-block-list-title"> Personalised learning journeys </h4>
											Every student will have their unique learning </br> journey as per their
											needs and pace
										</li>
									</ul>
								</div>

								<div class="item">
									<div class="innovation-section-card">
										<img src="https://cdn1.byjus.com/byjusweb/img/classes/unlimited-practice-and-revision.png" class="img-responsive"
                            width="450" height="300" alt="Interactive online home tuitions"></div>
										<ul class="c-list">
											<li>
												<img src="https://cdn1.byjus.com/byjusweb/img/classes/unlimited-practice.svg" alt="Monthly tests" width="30" height="31"
                                class="lazy img-responsive icon">
												<h4 class="pointer-block-list-title"> Unlimited practice and revision
												</h4>
												Revisit topics multiple times and practice </br> with unlimited quizzes
												and tests on the app
											</li>
										</ul>
									</div>

									<div class="item">
										<div class="innovation-section-card">
											<img src="https://cdn1.byjus.com/byjusweb/img/classes/individual-knowledge-graph.png" class="img-responsive" width="450"
                            height="300" alt="Interactive online home tuitions"></div>
											<ul class="c-list">
												<li>
													<img src="https://cdn1.byjus.com/byjusweb/img/classes/individual-knowledge.svg" alt="Monthly tests" width="30"
                                height="31" class="lazy img-responsive icon">
													<h4 class="pointer-block-list-title"> Individual knowledge graph
													</h4>
													Helps students identify their strengths </br> and areas for
													improvement
												</li>
											</ul>
										</div>
									</div>

									<div class="carousel-btn text-center">
										<a class="btn b-btn orange-gradient book-free-demo-class-btn"
											href="javascript:void(0)"
											target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&utm_medium=byjusclasses&utm_campaign=byjusclassescta">Book
											a Free Class</a>
									</div>

									<!-- Left and right controls -->
									<a class="left-section-carousel" href="#innovation-section-carousel"
										data-slide="prev">
										<span class="left-arrow">
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/left-arrow.svg" class="img-responsive" width="13px" height="22px" />
                </span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="right-section-carousel" href="#innovation-section-carousel"
										data-slide="next">
										<span class="right-arrow">
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/right-arrow.svg" class="img-responsive" width="13px" height="22px" />
                </span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
	</section>

	<section class="section">
		<div class="container container-lg">
			<div class="row row-verticle-middle">
				<div class="col-sm-6 col-sm-push-6 col-lg-push-7"><img src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-extra-classes.png"
                    class="img-responsive" width="582" height="586" alt="Interactive online home tuitions"></div>
					<div class="col-sm-6 col-sm-pull-6">
						<h3 class="section-sub-title">Personalised extra classes for </br> complete learning</h3>
						<ul class="c-list">
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/student-requirement.svg" alt="Monthly tests" width="30" height="30"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Classes as per a student's requirement </h4>
								Choose and attend extra classes to make <br /> up for any missed lessons
                    </li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-progress.svg" alt="Monthly tests" width="30" height="30"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Work on topics that need extra attention </h4>
								Strengthen concepts with improvement classes
							</li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/upcoming-exam.svg" alt="Monthly tests" width="30" height="30"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Prepare for upcoming exams </h4>
								Schedule an extra class to learn for an <br /> upcoming exams
                    </li>
							<li>
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/revise-topic.svg" alt="Monthly tests" width="30" height="21"
                            class="lazy img-responsive icon">
								<h4 class="pointer-block-list-title"> Revisit a topic </h4>
								Use the extra class feature to revisit <br /> and revise topics as per need
                    </li>
						</ul>
						<a class="btn b-btn blue-gradient book-free-demo-class-btn" href="javascript:void(0)"
							target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&utm_medium=byjusclasses&utm_campaign=byjusclassescta">Book
							a Free Class</a>
					</div>
				</div>
			</div>
	</section>

	<section class="section" id="byjus-adv-section">
		<div class="container container-lg">
			<h2 id="byjus-classes-advantage" class="section-title">Get the BYJU'S Classes advantage</h2>
			<div class="row hidden-xs">
				<div class="col-sm-4">
					<div class="classes-card one">
						<img src="https://cdn1.byjus.com/byjusweb/img/classes/top-teachers.svg" alt="Monthly tests" width="25" height="50"
                        class="lazy icon">
						<h4 class="pointer-block-list-title"> Classes by India's top </br> teachers </h4>
						Every class will be taught <br /> using visual aids to make <br /> learning simple and <br />
                    engaging. Students can <br /> also get their doubts solved <br /> immediately from assigned <br />
                    teachers during the class <br /> to strengthen conceptual <br /> understanding.
                </div>
					</div>
					<div class="col-sm-4">
						<div class="classes-card two">
							<img src="https://cdn1.byjus.com/byjusweb/img/classes/revise-topic.svg" alt="Monthly tests" width="50" height="34"
                        class="lazy icon">
							<h4 class="pointer-block-list-title"> Personalised extra </br> classes </h4>
							Students can attend extra </br> classes with BYJU’S </br> teachers for additional </br>
							support.
							This will help them </br> to revise missed lessons, </br> prepare for exams and </br>
							improve weak
							topics.
						</div>
					</div>
					<div class="col-sm-4">
						<div class="classes-card three">
							<img src="https://cdn1.byjus.com/byjusweb/img/classes/extra-classes.svg" alt="Monthly tests" width="50" height="50"
                        class="lazy icon">
							<h4 class="pointer-block-list-title"> Individual attention </br> from mentors </h4>
							BYJU’S mentors are aided by </br> technology to guide and </br> support students </br>
							throughout.
							They will keep </br> track of students' learning </br> blueprint and suggest how </br> to
							learn
							better, improve on </br> their weak areas and score </br> higher.
						</div>
					</div>
				</div>
				<div class="row hidden-xs">
					<div class="col-sm-6 col-sm-push-2">
						<div class="classes-card four">
							<img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-progress.svg" alt="Monthly tests" width="50" height="52"
                        class="lazy icon">
							<h4 class="pointer-block-list-title"> Monthly learning </br> progress report </h4>
							Students will get a 360° <br /> evaluation of their learning <br /> path through monthly <br />
                    progress reports and <br /> discussions. Mentors will <br /> share recommendations <br /> for
                    personalised extra <br /> classes based on their <br /> performance too.
                </div>
						</div>
						<div class="col-sm-6">
							<div class="classes-card five">
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-learning.svg" alt="Monthly tests" width="50" height="49"
                        class="lazy icon">
								<h4 class="pointer-block-list-title"> Adaptive learning journeys </br> on BYJU'S app
								</h4>
								Every student has a <br /> Knowledge Graph based on <br /> their learning need & <br /> speed. This
                    links different <br /> concepts and helps <br /> students identify their <br /> strengths & areas
                    for <br /> improvement.
                </div>
							</div>
						</div>

						<div class="horizontal-cards-wrapper visible-xs">
							<div class="classes-card one">
								<img src="https://cdn1.byjus.com/byjusweb/img/classes/top-teachers.svg" alt="Monthly tests" width="25" height="50"
                    class="lazy icon">
								<h4 class="pointer-block-list-title"> Classes by India's top </br> teachers </h4>
								Every class will be taught <br /> using visual aids to make <br /> learning simple and
								<br />
                engaging. Students can <br /> also get their doubts solved <br /> immediately from assigned <br />
                teachers during the class <br /> to strengthen conceptual <br /> understanding.
            </div>

								<div class="classes-card two">
									<img src="https://cdn1.byjus.com/byjusweb/img/classes/revise-topic.svg" alt="Monthly tests" width="50" height="34"
                    class="lazy icon">
									<h4 class="pointer-block-list-title"> Personalised extra </br> classes </h4>
									Students can attend extra </br> classes with BYJU’S </br> teachers for additional
									</br> support.
									This will help them </br> to revise missed lessons, </br> prepare for exams and
									</br> improve weak
									topics.
								</div>

								<div class="classes-card three">
									<img src="https://cdn1.byjus.com/byjusweb/img/classes/extra-classes.svg" alt="Monthly tests" width="50" height="50"
                    class="lazy icon">
									<h4 class="pointer-block-list-title"> Individual attention </br> from mentors </h4>
									BYJU’S mentors are aided by </br> technology to guide and </br> support students
									</br> throughout.
									They will keep </br> track of students' learning </br> blueprint and suggest how
									</br> to learn
									better, improve on </br> their weak areas and score </br> higher.
								</div>

								<div class="classes-card four">
									<img src="https://cdn1.byjus.com/byjusweb/img/classes/monthly-progress.svg" alt="Monthly tests" width="50" height="52"
                    class="lazy icon">
									<h4 class="pointer-block-list-title"> Monthly learning </br> progress report </h4>
									Students will get a 360° <br /> evaluation of their learning <br /> path through monthly
									<br />
                progress reports and <br /> discussions. Mentors will <br /> share recommendations <br /> for
                personalised extra <br /> classes based on their <br /> performance too.
            </div>

									<div class="classes-card five">
										<img src="https://cdn1.byjus.com/byjusweb/img/classes/personalised-learning.svg" alt="Monthly tests" width="50" height="49"
                    class="lazy icon">
										<h4 class="pointer-block-list-title"> Adaptive learning journeys </br> on BYJU'S
											app </h4>
										Every student has a <br /> Knowledge Graph based on <br /> their learning need &
										<br /> speed. This
                links different <br /> concepts and helps <br /> students identify their <br /> strengths & areas
                for <br /> improvement.
            </div>
									</div>
								</div>
	</section>

	<section class="section py0">
		<div class="container container-lg text-center">
			<h2 class="section-title">Watch video lessons and demo online classes </h2>
			<div class="video-section-title">
				<p>Select a class</p>
				<div class="form-group video-selector">
					<select class="form-control video-selection" data-video-selector>
                    <option value="4">Class 4</option>
                    <option value="5">Class 5</option>
                    <option value="6">Class 6</option>
                    <option value="7">Class 7</option>
                    <option value="8">Class 8</option>
                    <option value="9">Class 9</option>
                    <option value="10">Class 10</option>
                    <select>
            </div>
        </div>
        <div class="row row-inline" data-selected-video="4">
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/C_IlftPPtqo?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/triangle-introduction.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Video lesson on BYJU'S App</p>
            </div>

            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/I0CQFwPeq58?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/universe.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Online class with live doubt solving</p>
            </div>
        </div>

        <div class="row row-inline hidden" data-selected-video="5">
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/6y2gMTK83Ro?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/named-number-patterns.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Video lesson on BYJU'S App</p>
            </div>
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/JdXcFtbVfgs?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/animal-senses.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Online class with live doubt solving</p>
            </div>
        </div>

        <div class="row row-inline hidden" data-selected-video="6">
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/LMZ6_OxW3TQ?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/functons-of-the-gov.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Video lesson on BYJU'S App</p>

            </div>
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/dS6SIZgjJlY?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/geomentry.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Online class with live doubt solving</p>
            </div>
        </div>

        <div class="row row-inline hidden" data-selected-video="7">
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/BTUfu87DI7Y?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/babur.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Video lesson on BYJU'S App</p>
            </div>
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/Cqi-eRw4sQo?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/exponents.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Online class with live doubt solving</p>
            </div>
        </div>

        <div class="row row-inline hidden" data-selected-video="8">
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/VzgNRdco5Eo?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/periodising.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Video lesson on BYJU'S App</p>
            </div>
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/-lR06UaToPo?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/sound.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Online class with live doubt solving</p>
            </div>
        </div>

        <div class="row row-inline hidden" data-selected-video="9">
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/rAUtvgMiU00?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/friction.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Video lesson on BYJU'S App</p>
            </div>
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/t_NAgoIvmxw?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/sound-class-9.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Online class with live doubt solving</p>
            </div>
        </div>

        <div class="row row-inline hidden" data-selected-video="10">
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/xHIj3TNwB3w?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/factors-affecting.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Video lesson on BYJU'S App</p>
            </div>
            <div class="col-sm-4">
                <a class="video-thumbnail" href="https://www.youtube.com/embed/ZymvfxwAn6g?rel=0" data-yt-video-player>
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/thumbnails/trignomentry.jpg" width="320" height="180"
                        class="video-thumbnail-img">
                </a>
                <p class="video-text">Online class with live doubt solving</p>
            </div>
        </div>

        <div class="video-section-demo-btn">
            <a class="btn b-btn blue-gradient book-free-demo-class-btn" href="javascript:void(0)"
                target-href="/byjus-classes-book-a-free-60-minutes-class/registration/?utm_source=website&utm_medium=byjusclasses&utm_campaign=byjusclassescta">Book a Free Class</a>
        </div>
    </div>
</section>

<section class="section" id="testimonals-section">
    <div class="container container-lg">
        <h2 class="section-title">Parents and students love us! </h2>
        <div id="byjus-classes-carousel" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators byjus-classes-carousel-indicators hidden-xs">
                <li data-target="#byjus-classes-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#byjus-classes-carousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner hidden-xs">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="parents-section-card">
                                <a href="https://www.youtube.com/watch?v=cJKKHenuivw&t=4s" data-yt-video-player>
                                    <div class="video-icon-section">
                                        <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/bhavana-ajmera.png"
                                            alt="bhavana-ajmera" width="210" height="210" />
                                        <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                            alt="video-play-icon" width="61" height="60" />
                                    </div>
                                </a>
                                <p class="title text-center"> Bhavana Ajmera, Mother of </br> Vibha Ajmera, Class 6 |
                                    Pune</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="parents-section-card">
                                <a href="https://www.youtube.com/watch?v=1NpZTA-FpJ8" data-yt-video-player>
                                    <div class="video-icon-section">
                                        <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/arsha-vs.png" alt="arsha-vs"
                                            width="210" height="210" />
                                        <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                            alt="video-play-icon" width="61" height="60" />
                                    </div>
                                </a>
                                <p class="title text-center"> Arsha.V.S </br> Class 10 I Trivandrum </p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="parents-section-card">
                                <a href="https://www.youtube.com/watch?v=ghX7Q4YD2k8" data-yt-video-player>
                                    <div class="video-icon-section">
                                        <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/jaden-jonathan-james.png"
                                            alt="jaden-jonathan-james" width="210" height="210" />
                                        <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                            alt="video-play-icon" width="61" height="60" />
                                    </div>
                                </a>
                                <p class="title text-center"> Jaden Jonathan James </br> Class 6 | PUNE</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="parents-section-card">
                                <a href="https://www.youtube.com/watch?v=IzWUDbPtioY" data-yt-video-player>
                                    <div class="video-icon-section">
                                        <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/santhosh-ranganathan.png"
                                            alt="santhosh-ranganathan" width="210" height="210" />
                                        <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                            alt="video-play-icon" width="61" height="60" />
                                    </div>
                                </a>
                                <p class="title text-center"> Santhosh Ranganathan </br> Class 7 | Chennai</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="parents-section-card">
                                <a href="https://www.youtube.com/watch?time_continue=57&v=hmg5zaEgems&feature=emb_logo"
                                    data-yt-video-player>
                                    <div class="video-icon-section">
                                        <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/arindam-das.png"
                                            alt="arindam-das" width="210" height="210" />
                                        <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                            alt="video-play-icon" width="61" height="60" />
                                    </div>
                                </a>
                                <p class="title text-center"> Arindam Das, father of </br> Souradip | Class 6 | Kolkata
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="parents-section-card">
                                <a href="https://www.youtube.com/watch?v=EWpHl2iP5Ps&feature=emb_logo"
                                    data-yt-video-player>
                                    <div class="video-icon-section">
                                        <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/aswini-kumar.png"
                                            alt="aswini-kumar" width="210" height="210" />
                                        <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                            alt="video-play-icon" width="61" height="60" />
                                    </div>
                                </a>
                                <p class="title text-center"> Aswini Kumar, Father of </br> Devananda | Class 6 |
                                    Bangalore</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left-carousel left hidden-xs" href="#byjus-classes-carousel" data-slide="prev">
                <span class="left-arrow">
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/left-arrow.svg" class="img-responsive" width="13px" height="22px" />
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right-carousel right hidden-xs" href="#byjus-classes-carousel" data-slide="next">
                <span class="right-arrow">
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/right-arrow.svg" class="img-responsive" width="13px" height="22px" />
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div id="byjus-classes-carousel-mobile" class="carousel slide visible-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner visible-xs">
                <div class="item active">
                    <div class="parents-section-card">
                        <a href="https://www.youtube.com/watch?v=cJKKHenuivw&t=4s" data-yt-video-player>
                            <div class="video-icon-section">
                                <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/bhavana-ajmera.png"
                                    alt="bhavana-ajmera" width="210" height="210" />
                                <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                    alt="video-play-icon" width="61" height="60" />
                            </div>
                        </a>
                        <p class="title text-center"> Bhavana Ajmera, Mother of </br> Vibha Ajmera, Class 6 | Pune</p>
                    </div>
                </div>

                <div class="item">
                    <div class="parents-section-card">
                        <a href="https://www.youtube.com/watch?v=1NpZTA-FpJ8" data-yt-video-player>
                            <div class="video-icon-section">
                                <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/arsha-vs.png" alt="arsha-vs"
                                    width="210" height="210" />
                                <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                    alt="video-play-icon" width="61" height="60" />
                            </div>
                        </a>
                        <p class="title text-center"> Arsha.V.S </br> Class 10 I Trivandrum </p>
                    </div>
                </div>

                <div class="item">
                    <div class="parents-section-card">
                        <a href="https://www.youtube.com/watch?v=ghX7Q4YD2k8" data-yt-video-player>
                            <div class="video-icon-section">
                                <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/jaden-jonathan-james.png"
                                    alt="jaden-jonathan-james" width="210" height="210" />
                                <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                    alt="video-play-icon" width="61" height="60" />
                            </div>
                        </a>
                        <p class="title text-center"> Jaden Jonathan James </br> Class 6 | PUNE</p>
                    </div>
                </div>

                <div class="item">
                    <div class="parents-section-card">
                        <a href="https://www.youtube.com/watch?v=IzWUDbPtioY" data-yt-video-player>
                            <div class="video-icon-section">
                                <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/santhosh-ranganathan.png"
                                    alt="santhosh-ranganathan" width="210" height="210" />
                                <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                    alt="video-play-icon" width="61" height="60" />
                            </div>
                        </a>
                        <p class="title text-center"> Santhosh Ranganathan </br> Class 7 | Chennai</p>
                    </div>
                </div>

                <div class="item">
                    <div class="parents-section-card">
                        <a href="https://www.youtube.com/watch?time_continue=57&v=hmg5zaEgems&feature=emb_logo"
                            data-yt-video-player>
                            <div class="video-icon-section">
                                <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/arindam-das.png" alt="arindam-das"
                                    width="210" height="210" />
                                <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                    alt="video-play-icon" width="61" height="60" />
                            </div>
                        </a>
                        <p class="title text-center"> Arindam Das, father of </br> Souradip | Class 6 | Kolkata</p>
                    </div>
                </div>

                <div class="item">
                    <div class="parents-section-card">
                        <a href="https://www.youtube.com/watch?v=EWpHl2iP5Ps&feature=emb_logo" data-yt-video-player>
                            <div class="video-icon-section">
                                <img class="lazy parent-img" src="https://cdn1.byjus.com/byjusweb/img/classes/aswini-kumar.png" alt="aswini-kumar"
                                    width="210" height="210" />
                                <img class="lazy video-icon" src="https://cdn1.byjus.com/byjusweb/img/classes/video-play-icon.svg"
                                    alt="video-play-icon" width="61" height="60" />
                            </div>
                        </a>
                        <p class="title text-center"> Aswini Kumar, Father of </br> Devananda | Class 6 | Bangalore</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left-carousel left visible-xs" href="#byjus-classes-carousel-mobile" data-slide="prev">
                <span class="left-arrow">
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/left-arrow.svg" class="img-responsive" width="13px" height="22px" />
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right-carousel right visible-xs" href="#byjus-classes-carousel-mobile" data-slide="next">
                <span class="right-arrow">
                    <img src="https://cdn1.byjus.com/byjusweb/img/classes/right-arrow.svg" class="img-responsive" width="13px" height="22px" />
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section class="section text-center">
    <div class="container container-lg">
        <h2 class="section-title mb1">Your child needs the best classes after school!</h2>
        <div class="learn-classes-card" data-learn-classes-card>
            <div class="row stickyBtn" data-stickyBtn>
                <div class="col-xs-6 pd-left">
                    <button type="button"
                        class="btn learn-classes-card-btn learn-classes-card-left-gradient-btn">Regular Tuitions
                    </button>
                </div>
                <div class="col-xs-6 pd-right divider">
                    <button type="button"
                        class="btn learn-classes-card-btn learn-classes-card-right-gradient-btn">BYJU'S Classes
                    </button>
                </div>
            </div>
            <div class="row card-margin">
                <div class="col-xs-12 pd-1 m-top">
                    <button type="button" class="btn learn-btn learn-classes-gradient-btn">Teachers</button>
                </div>
                <div class="col-xs-6">
                    <p class="learn-class-text-left">Best available within 5 km radius</p>
                </div>
                <div class="col-xs-6 divider">
                    <p class="learn-class-text-right">Top teachers of the country</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pd-1">
                    <button type="button" class="btn learn-btn learn-classes-gradient-btn">Teaching Format</button>
                </div>
                <div class="col-xs-6">
                    <p class="learn-class-text-left">Traditional chalk and talk method</p>
                </div>
                <div class="col-xs-6 divider">
                    <p class="learn-class-text-right">Visualisation and cutting-edge technology for better engagement
                        and
                        superior teaching</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pd-1">
                    <button type="button" class="btn learn-btn learn-classes-gradient-btn">Revision</button>
                </div>
                <div class="col-xs-6">
                    <p class="learn-class-text-left">Only dependent on the class notes</p>
                </div>
                <div class="col-xs-6 divider">
                    <p class="learn-class-text-right">Revise any concept any time using the BYJU'S app</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pd-1">
                    <button type="button" class="btn learn-btn learn-classes-gradient-btn">Improve Weaker
                        Topics</button>
                </div>
                <div class="col-xs-6">
                    <p class="learn-class-text-left">Every topic is taught only once. No personalised revision classes
                    </p>
                </div>
                <div class="col-xs-6 divider">
                    <p class="learn-class-text-right">Personalised extra classes and engaging video lessons on BYJU'S
                        app to ensure improvement</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pd-1">
                    <button type="button" class="btn learn-btn learn-classes-gradient-btn">Doubt Solving</button>
                </div>
                <div class="col-xs-6">
                    <p class="learn-class-text-left">Ineffective in group tuition classes</p>
                </div>
                <div class="col-xs-6 divider">
                    <p class="learn-class-text-right">Instant doubt solving in the class itself</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pd-1">
                    <button type="button" class="btn learn-btn learn-classes-gradient-btn">Personalised
                        Attention</button>
                </div>
                <div class="col-xs-6">
                    <p class="learn-class-text-left">Possible in private tuitions but finding quality tutors nearby is a
                        challenge</p>
                </div>
                <div class="col-xs-6 divider">
                    <p class="learn-class-text-right">One-on-one attention by a dedicated BYJU'S mentor to analyse
                        problems faced by students</p>
                </div>
            </div>
            <div class="row" data-learn-classes-scroll-to>
                <div class="col-xs-12 pd-1">
                    <button type="button" class="btn learn-btn learn-classes-gradient-btn">Time Utilisation</button>
                </div>
                <div class="col-xs-6">
                    <p class="learn-class-text-left">Need to travel a lot. Waste of time and energy</p>
                </div>
                <div class="col-xs-6 divider">
                    <p class="learn-class-text-right">Learn from the comfort and safety of your home</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pd-1">
                    <button type="button" class="btn learn-btn learn-classes-gradient-btn">School Curriculum</button>
                </div>
                <div class="col-xs-6">
                    <p class="learn-class-text-left">Tuitions follow their own sequence of topics as they have students
                        from multiple schools</p>
                </div>
                <div class="col-xs-6 divider">
                    <p class="learn-class-text-right">Option to select the batch as per the schedule and topics followed
                        in school</p>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    </div>
</section>

<section class="section bg purple-bg">
    <div class="container container-lg">
        <h2 class="section-title">Student's learning journey with BYJU’S Classes </h2>
        <div class="learning-journey hidden-xs"><img src="https://cdn1.byjus.com/byjusweb/img/classes/student-learning-journey.png"
                class="img-responsive" width="1200" height="649.4" alt="student-learning-journey">
        </div>
        <div class="learning-journey visible-xs">
            <div class="journey-steps one">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/step-1-journey.png" class="img-responsive" width="220" height="260"
                    alt="step-1-journey">
            </div>
            <div class="journey-steps arrow">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/arrow.svg" class="img-responsive" width="100" height="120" alt="right-arrow">
            </div>
            <div class="journey-steps two">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/step-2-journey.png" class="img-responsive" width="218" height="277"
                    alt="step-2-journey">
            </div>
            <div class="journey-steps arrow">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/arrow.svg" class="img-responsive" width="100" height="120" alt="right-arrow">
            </div>
            <div class="journey-steps three">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/step-3-journey.png" class="img-responsive" width="187" height="277"
                    alt="step-3-journey">
            </div>
            <div class="journey-steps arrow">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/arrow.svg" class="img-responsive" width="100" height="120" alt="right-arrow">
            </div>
            <div class="journey-steps four">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/step-4-journey.png" class="img-responsive" width="261" height="264"
                    alt="step-4-journey">
            </div>
            <div class="journey-steps arrow">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/arrow.svg" class="img-responsive" width="100" height="120" alt="right-arrow">
            </div>
            <div class="journey-steps five">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/step-5-journey.png" class="img-responsive" width="286" height="267"
                    alt="step-5-journey">
            </div>
            <div class="journey-steps arrow">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/arrow.svg" class="img-responsive" width="100" height="120" alt="right-arrow">
            </div>
            <div class="journey-steps six">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/step-6-journey.png" class="img-responsive" width="220" height="272"
                    alt="step-6-journey">
            </div>
            <div class="journey-steps arrow">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/arrow.svg" class="img-responsive" width="100" height="120" alt="right-arrow">
            </div>
            <div class="journey-steps seven">
                <img src="https://cdn1.byjus.com/byjusweb/img/classes/step-7-journey.png" class="img-responsive" width="229" height="268"
                    alt="step-7-journey">
            </div>
        </div>
    </div>
</section>

<section class="section" id="faq-classes-section">
    <div class="container container-lg">
        <h2 id="faq-section" class="section-title">FAQs</h2>
        <div class="panel-group panel-faq-group" id="faq-question">
            <div class="panel panel-faq">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#faq-collapse-1" data-faq-collapse-1 aria-expanded="true">BYJU'S
                            Classes program is available for which classes?</a>
                    </h4>
                </div>
                <div id="faq-collapse-1" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">Students across classes 4 to 10 can attend and learn from BYJU'S Classes
                    </div>
                </div>
            </div>

            <div class="panel panel-faq">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#faq-collapse-2">How many classes will be there in a week?</a>
                    </h4>
                </div>
                <div id="faq-collapse-2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>There will be 3-4 classes per week.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-faq">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#faq-collapse-3">How can my child clear his/her doubts instantly
                            during the online class?</a>
                    </h4>
                </div>
                <div id="faq-collapse-3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>While attending an online class, your can ask his/her questions in real time via the
                            chat box. Our assigned teachers will instantly assit and solve your child's doubts.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-faq">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#faq-collapse-4">What is a free demo class and how do I register
                            for a demo class? </a>
                    </h4>
                </div>
                <div id="faq-collapse-4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Your child can attend a free demo class by our top teachers to experience BYJU'S
                            Classes first-hand. This is a great way to understand the BYJU'S way of teaching and
                            know how instant doubt solving works. Our counselor will help book a demo class
                            for you at your convenience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="faq-section">
    <a class="btn b-btn blue-gradient book-free-demo-class-btn" href="javascript:void(0)"
        target-href="/faq-byjus-classes/"> See all FAQs </a>
</div>

<!-- Start Display Edit Button -->
<!-- End Display Edit Button --><link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"><style>/* -------------------------- Start Footer ------------------ */
.footer{ font-family: 'Roboto', sans-serif; font-size: 14px; background: #474747; padding: 30px 0px 10px; display: block; }
.footer.footer-purple-bg{background: #813588;}
.footer ul { color: white; padding-left: 0; margin: 0; list-style-type: none; margin-bottom: 20px; }
.footer i { color: white; font-weight: 700; font-size: 16px; font-style: normal; letter-spacing: 2.4px; display: block; margin-bottom: 5px; }
.footer a { color: white; padding: 10px 0px; display: inline-block; }
.footer a:hover { color: white; text-decoration: underline }
.footer .footer-category, .footer .links { font-size: 14px; font-style: normal; font-stretch: normal; color: #fff }
.footer .col-header { color: white; list-style: none; font-weight: 600 }
.footer-nav { background: #474747 !important; padding: 20px 0; margin-top: 50px }
.footer-category { font-weight: 700; letter-spacing: 3.2px; text-transform: uppercase; color: white; text-align: left }
.footer .links { font-weight: 400; line-height: 2.5 }
.footer .links:focus, .footer .links:hover { color: #fff }
.footer .ft-bt-links, .footer .ft-bt-links a { opacity: .7; color: white !important; font-size: 14px }
.footer .ft-bt-links { padding: 5px 0 }
.footer .text-align-right { text-align: right }
.footer .footer-hr { opacity: 0.6; background-color: #979797; height: 1px; width: 100%; margin-bottom: 10px; }
.footer .copy { text-align: right; }
@media (max-width:992px) {
.footer-container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; width: auto; }
.footer .ft-bt-links, .footer .copy { text-align: center; }
}

@media (min-width: 768px) {
    .footer .row.unit10>div:nth-child(1) { width: 12%; }
	.footer .row.unit10>div:nth-child(2) { width: 14%; }
	.footer .row.unit10>div:nth-child(3) { width: 14%; }
	.footer .row.unit10>div:nth-child(4) { width: 18%; }
	.footer .row.unit10>div:nth-child(5) { width: 24%; }
	.footer .row.unit10>div:nth-child(6) { width: 17%; }
}

@media (max-width:768px) {
.footer .mt-xs-3 { margin-top: 30px }
.footer ul li { display: inline-block; position: relative; padding-left: 10px; margin-bottom: 5px; }
.footer ul li a { padding: 0px 10px; }
.footer li:before { content: ""; opacity: .7; background-color: #d8d8d8; width: 6px; height: 6px; border-radius: 50%; z-index: 1; position: absolute; display: inline-block; left: 0; top: 6px; }
.footer .ft-bt-links, .footer .text-align-right { text-align: center }
.footer .ft-bt-links { text-align: center !important; }
.footer .copy { text-align: center; }
}
@media (max-width:400px) {
.footer .ft-bt-links { font-size: 12px; }
}
/* -------------------------- End Footer ------------------ */</style><!-- footer --><footer class="footer footer-purple-bg" role="contentinfo"><div class="container footer-container">
                    <div class="row unit10"><div class="col-sm-2">
                            <div>
                            <a href="javascript:void(0)"><i>COURSES</i></a>
                                <ul><li><a href="/cbse/" target="_blank">CBSE</a></li><li><a href="/icse/" target="_blank">ICSE</a></li><li><a href="/cat/" target="_blank">CAT</a></li><li><a href="/ias/" target="_blank">IAS</a></li><li><a href="/jee/" target="_blank">JEE</a></li><li><a href="/neet/" target="_blank">NEET</a></li><li><a href="/commerce/" target="_blank">Commerce</a></li><li><a href="/bank-exam/" target="_blank">Bank Exam</a></li><li><a href="/ncert/" target="_blank">NCERT</a></li></ul>
                            </div>
                        </div><div class="col-sm-2">
                                            <div>
                                                <a href="javascript:void(0)"><i>EXAMS</i></a>
                                                <ul><li><a href="/cat/exam-info/" target="_blank">CAT Exam</a></li><li><a href="/ias-exam/" target="_blank">IAS Exam</a></li><li><a href="/ias/upsc-syllabus/" target="_blank">UPSC Syllabus</a></li><li><a href="/free-ias-prep/upsc-2020/" target="_blank">UPSC 2020</a></li><li><a href="/jee/jee-main/" target="_blank">JEE Main</a></li><li><a href="/govt-exams/" target="_blank">Government Exams</a></li></ul>
                                            </div><div>
                                                <a href="javascript:void(0)"><i>RESOURCES</i></a>
                                                <ul><li><a href="https://blog.byjus.com/" target="_blank">Blog</a></li><li><a href="/videos/" target="_blank">Videos</a></li><li><a href="/cbse/cbse-sample-papers/" target="_blank">CBSE Sample Papers</a></li><li><a href="/cbse-study-material/cbse-previous-year-question-paper/" target="_blank">CBSE Question Papers</a></li><li><a href="/about-dssl/" target="_blank">DSSL</a></li></ul>
                                            </div>
                                        </div><div class="col-sm-2">
                                            <div>
                                                <i>EXAM PREPARATION</i>
                                                <ul><li><a href="/free-cat-prep/" target="_blank">Free CAT Prep</a></li><li><a href="/free-ias-prep/" target="_blank">Free IAS Prep</a></li><li><a href="/maths/" target="_blank">Maths</a></li><li><a href="/physics/" target="_blank">Physics</a></li><li><a href="/chemistry/" target="_blank">Chemistry</a></li><li><a href="/biology/" target="_blank">Biology</a></li></ul>
                                            </div>
                                          </div><div class="col-sm-2">
                                            <div>
                                              <a href="javascript:void(0)"><i>COMPANY</i></a>
                                                <ul><li><a href="/about-us/" target="_blank">About Us</a></li><li><a href="/contact-us/" target="_blank">Contact Us</a></li><li><a href="/reviews/" target="_blank">Student Feedback</a></li><li><a href="/our-investors/" target="_blank">Investors</a></li><li><a href="/careers-at-byjus/" target="_blank">Careers</a></li><li><a href="/press/" target="_blank">BYJU'S in Media</a></li><li><a href="https://blog.byjus.com/the-learning-tree/" target="_blank">Students Stories - The Learning Tree</a></li><li><a href="https://blog.byjus.com/life-at-byjus/" target="_blank">Faces of BYJU'S – Life at BYJU'S</a></li></ul>
                                            </div><div>
                                                <a href="javascript:void(0)"><i>FOLLOW US</i></a>
                                                <ul><a href="https://www.facebook.com/byjuslearningapp/" target="_blank" class="links" style="padding:0px 5px"> <svg style='width:28px;height:28px' viewBox='0 0 24 24'><path fill='#ffffff' d='M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z'></path></svg></a><a href="https://www.youtube.com/channel/UCkDw-LPU1Nnd2WRsfnDbUcA" target="_blank" class="links" style="padding:0px 5px"> <svg style='width:28px;height:28px' viewBox='0 0 24 24'><path fill='#ffffff' d='M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z' /></svg></a><a href="https://in.linkedin.com/company/byjus" target="_blank" class="links" style="padding:0px 5px"> <svg style='width:28px;height:28px' viewBox='0 0 24 24'><path fill='#ffffff' d='M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z'></path></svg></a></ul>
                                            </div>
                                        </div><div class="col-sm-2">
                            <div>
                            <a href="/textbook-solutions/"><i>Free Textbook Solutions</i></a>
                                <ul><li><a href="/ncert-solutions/" target="_blank">NCERT Solutions</a></li><li><a href="/ncert-exemplar/" target="_blank">NCERT Exemplar</a></li><li><a href="/ncert-solutions-class-6/" target="_blank">NCERT Solutions for Class 6</a></li><li><a href="/ncert-solutions-class-7/" target="_blank">NCERT Solutions for Class 7</a></li><li><a href="/ncert-solutions-class-8/" target="_blank">NCERT Solutions for Class 8</a></li><li><a href="/ncert-solutions-class-9/" target="_blank">NCERT Solutions for Class 9</a></li><li><a href="/ncert-solutions-class-10/" target="_blank">NCERT Solutions for Class 10</a></li><li><a href="/ncert-solutions-class-11/" target="_blank">NCERT Solutions for Class 11</a></li><li><a href="/ncert-solutions-class-12/" target="_blank">NCERT Solutions for Class 12</a></li><li><a href="/rd-sharma-solutions/" target="_blank">RD Sharma Solutions</a></li><li><a href="/rs-aggarwal-maths-solutions/" target="_blank">RS Aggarwal Solutions</a></li><li><a href="/icse/selina-solutions/" target="_blank">ICSE Selina Solutions</a></li></ul>
                            </div>
                        </div><div class="col-sm-2">
                                            <div>
                                            <a href="javascript:void(0)"><i>State Boards</i></a>
                                                <ul><li><a href="/msbshse/" target="_blank">Maharashtra</a></li><li><a href="/gseb/" target="_blank">Gujarat</a></li><li><a href="/tn-board/" target="_blank">Tamil Nadu</a></li><li><a href="/kseeb/" target="_blank">Karnataka</a></li><li><a href="/kbpe/" target="_blank">Kerala</a></li><li><a href="/ap-board/" target="_blank">Andhra Pradesh</a></li><li><a href="/telangana-board/" target="_blank">Telangana</a></li><li><a href="/upmsp/" target="_blank">Uttar Pradesh</a></li><li><a href="/bihar-board/" target="_blank">Bihar</a></li><li><a href="/rajasthan-board/" target="_blank">Rajasthan</a></li><li><a href="/mp-board/" target="_blank">Madhya Pradesh</a></li></ul>
                                              </div>
                                            </div></div><div class="footer-hr"></div>
                                <div class="row ft-bt-links">
                                    <div class="col-sm-12 col-md-6">
                                        <a href="https://byjus.com/disclaimer/">Disclaimer</a> &nbsp;|&nbsp;
                                        <a href="https://byjus.com/tnc_app/#privacydesc">Privacy Policy</a> &nbsp;|&nbsp;
                                        <a href="https://byjus.com/tnc_app/#tncdesc">Terms of Services</a> &nbsp;|&nbsp;
                                        <a href="https://byjus.com/sitemap.xml">Sitemap</a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 copy">&copy;&nbsp;2020, BYJU'S. All rights reserved.</div>
                                </div></div></footer>
                <script type="text/javascript" src="https://cdn1.byjus.com/byjusweb/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="https://cdn1.byjus.com/byjusweb/lib/bootstrap/js/bootstrap.min.js"></script>
                
        <!-- Set Utility.js according host -->
        
                <script type="text/javascript" src="https://cdn1.byjus.com/byjusweb/js/utilities.min.js"></script>
        <script type="text/javascript" src="https://byjus.com/wp-content/themes/html5blank-stable/js/classes/classes_header.js"></script><script type="text/javascript" src="https://byjus.com/wp-content/themes/html5blank-stable/js/classes/home.js"></script>
                 									 <!-- for byjus main pages -->
							        <script type="text/javascript" src="https://byjus.com/wp-content/themes/html5blank-stable/js/search-bar.js"></script>        <!-- BEGIN:KATEX-INSTANCES -->
                <!-- END:KATEX-INSTANCES -->

				
            		    </body>
</html>