<%- include('header')%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<form id="target" action="destination.html">
    <input type="text" value="Hello there">
    <input type="submit" value="Go">
  </form>
  <div id="other" onclick="fn1()s">
    Trigger the handler
  </div>


<script>
 

 function fn1(){
    $( "#other" ).click(function() {
  $( "#target" ).submit();
});
 }
</script>

<%- include('footer')%>