body {


  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
  text-align: center;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
 
}

.shashank{

  
  background-image:url(../assets/images/girl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
display: inline-flexbox;
color: bisque;
}

.pakhare{
  background-image:url(../assets/images/Affordable-Websites-for-Small-Businesses-Contact-Us-Background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
display: inline-flexbox;
}

.a{
  font-weight: bolder;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(23, 25, 26);
 text-align: center;
 text-shadow: black 50px;
 font-style: oblique ;
 text-decoration: none;
  text-shadow: 0 0 10
  px blanchedalmond ;
  color: bisque;
}
.b{
  padding-top: 10%;
  color: rgb(17, 19, 20);
 text-align: center;
 text-shadow: black 50px;
 font-style: oblique ;
 text-decoration: none;
 color: bisque;
}

.glow{
  font-size: 40px;
  text-align: center;
  color: rgb(25, 70, 168);
  text-align: center;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
 

}

.glowing {
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-align: center;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
  
  
}
@-webkit-keyframes glowing{
  from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4f00b6, 0 0 40px #17057c, 0 0 50px #29c2ff, 0 0 60px #96fbff, 0 0 70px #1f0352;
  }
  to {
  text-shadow: 0 0 20px #fff, 0 0 30px #2b4ebe, 0 0 40px #4276e6, 0 0 50px #4644cf, 0 0 60px #3533d1, 0 0 70px #493cbb, 0 0 80px #8beeff;
}
}

.sh{
overflow: hidden;
  margin-top: 5%;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.navbar {
  overflow: hidden;
  
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


.r{
  font-weight: bolder;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: antiquewhite;
 text-align: center;
 text-shadow: black 50px;
 font-style: oblique ;
 text-decoration: none;
  text-shadow: 0 0 10
  px blanchedalmond ;
}

.c{
  font-weight: bolder;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(23, 25, 26);
 text-align: center;
 text-shadow: black 50px;
 font-style: oblique ;
 text-decoration: none;
  text-shadow: 0 0 10
  px blanchedalmond ;
  color:white;
}

html{
  scroll-behavior: smooth;
}

.c:hover{
  text-decoration: none;
  color: bisque;
}

.asd{
  height: 50vh;
  width: 70vh;
}